certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
docutils==0.18.1
Flask==2.1.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
Pygments==2.11.2
pypiwin32==223
pywin32==303
requests==2.27.1
urllib3==1.26.9
Werkzeug==2.1.1
