body {
    padding: 10px;
    background-color: rgba(232, 232, 232, 0.91)
}
.menu-principal {
    text-align: center;
    min-width: 500px;
}

.menu-principal h1 {
    background: #333;
    color: #fff;
    border-bottom: solid 5px #4faddb;
    padding: 15px 0px;
    margin: 0;
}

.menu-principal nav {
    display: inline-block;
    background-color: #fff;
    min-width: 248px;
}

.menu-principal a {
    display: block;
    padding: 10px 0px;
    text-decoration: none;
    color: #222;
    font-size: 1.2em;
}

.menu-principal a:hover {
    background-color: rgba(79, 173, 219, .4);
}

.btn {
    margin: 5px;
}

.container {
    border-radius: 4px;
    margin: auto;
    width: 80%;
}

.little-container {
    width: 40%;
    margin: auto;
}

figcaption {
    text-align: center;
    margin: 3px auto;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.form-group{
    margin-top: 5px;
}