{% extends "templates.html" %}
{% block conteudo %}
<form action="{{ url_for('aplicacaoroute.aplicacao_atualizar', id=aplicacao.id) }}" method="post" class="needs-validation" novalidate>
    <fieldset>
        <div class="form-group has-validation">
            <label for="vacina">Vacina aplicada:</label>
            <select id="vacina" name="vacina" class="form-select" required>
                <option></option>
                {%for vacina in vacinas%}
                <option value="{{vacina.id}}" {% if vacina.id==aplicacao.id_vacina %} selected {% endif %}>
                    {{vacina.nome}}</option>
                {%endfor%}
            </select>
            <div class="invalid-feedback">
                Insira uma vacina.
            </div>
        </div>
        <div class="form-group has-validation">
            <label for="vacinador">Quem irá aplicar?</label>
            <select name="vacinador" id="vacinador" class="form-select" required>
                <option></option>
                {% for vacinador in vacinadores %}
                <option value="{{vacinador.crm}}" {% if vacinador.crm==aplicacao.crm %} selected {% endif %}>
                    {{vacinador.nome}} | {{vacinador.crmtemplate}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Insira um vacinador.
            </div>
        </div>
        <div class="form-group has-validation">
            <label for="vacinado"> Quem será vacinado?</label>
            <select name="vacinado" id="vacinado" class="form-select" required>
                <option></option>
                {% for vacinado in vacinados %}
                <option value="{{vacinado.cns}}" {% if vacinado.cns==aplicacao.cns %} selected {% endif %}>
                    {{vacinado.nome}} | {{vacinado.cpf}}</option>
                {% endfor %}
            </select>
            <div class="invalid-feedback">
                Insira um vacinado.
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
        <a class="btn btn-danger" href="{{url_for('aplicacaoroute.aplicacao')}}">Cancelar</a>
    </fieldset>
</form>
{% include "script.html"%}
{% endblock %}