{% extends "templates.html" %}
{% block conteudo %}
    <div class="conteudo">
        <div class="menu-principal">
            <h1>Bem vindo ao PyVacinado</h1>
            <nav>
                <a href="{{url_for('vacinadoroute.vacinado')}}">Vacinado</a>
                <a href="{{url_for('aplicacaoroute.aplicacao')}}">Aplicação da Vacina</a>

            </nav>
            <nav>
                <a href="{{url_for('vacinador_route.vacinador')}}">Vacinador</a>
                <a href="{{url_for('vacinaroute.vacina')}}">Vacina</a>
            </nav>
        </div>
    </div>
{% endblock %}