{% extends "templates.html" %}
{% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
    <tr>
        <th>Nome</th>
        <th>Nascimento</th>
        <th>CPF</th>
        <th>CNS</th>
        <th>Comorbidade</th>
        <th>Quant. Doses</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for vacinado in vacinados %}
    <tr>
        <td>{{ vacinado.nome }}</td>
        <td>{{ vacinado.dtNascimento.strftime('%d/%m/%Y') }}</td>
        <td>{{ vacinado.cpf }}</td>
        <td>{{ vacinado.cns }}</td>
        <td>{{ 'Sim' if vacinado.comorbidade else 'Não' }}</td>
        <td>{{ vacinado.qtdDose }}</td>
        <td>
            <a href="{{ url_for('vacinado_editar', cns=vacinado.cns) }}">editar</a>
            <a href="{{ url_for('vacinado_excluir', cns=vacinado.cns) }}">excluir</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="{{url_for('vacinado_novo')}}" class="btn btn-primary">Cadastrar</a>
    <a href="{{url_for('index')}}" class="btn btn-dark">Voltar</a>
{% endblock %}