{% extends "templates.html" %}
{% block conteudo %}
<table class="table table-striped table-responsive table-bordered">
    <thead class="thead-default">
    <tr>
        <th>Nome</th>
        <th>Nascimento</th>
        <th>CPF</th>
        <th>CRM</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for vacinador in vacinadores %}
    <tr>
        <td>{{ vacinador.nome }}</td>
        <td>{{ vacinador.dtNascimento.strftime('%d/%m/%Y') }}</td>
        <td>{{ vacinador.cpf }}</td>
        <td>{{ vacinador.crmtemplate }}</td>
        <td>
            <a href="{{ url_for('vacinador_editar', crm= vacinador.crm) }}" class="btn btn-warning">editar</a>
            <a href="{{ url_for('vacinador_excluir', crm= vacinador.crm) }}" class="btn btn-danger">excluir</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    <a href="{{url_for('vacinador_novo')}}" class="btn btn-primary">Cadastrar</a>
    <a href="{{url_for('index')}}" class="btn btn-dark">Voltar</a>
{% endblock %}