{% extends "templates.html" %}
{% block conteudo %}
<form action="{{ url_for('vacinadoroute.vacinado_criar') }}" method="post" class="needs-validation" novalidate>
    <div class="form-group has-validation">
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome" class="form-control" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
            Insira um Nome.
        </div>
    </div>
    <div class="form-group has-validation">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" name="cpf" class="form-control" required>
        <div class="invalid-feedback">
            Insira um CPF.
        </div>
    </div>
    <div class="form-group has-validation">
        <label for="cns">CNS</label>
        <input type="text" id="cns" name="cns" class="form-control" required>
        <div class="invalid-feedback">
            Insira um CNS.
        </div>
    </div>
    <div class="form-group has-validation">
        <label for="nascimento">Data de Nascimento</label>
        <input type="date" id="nascimento" name="nascimento" class="form-control" required>
        <div class="invalid-feedback">
            Insira sua data de nascimento.
        </div>
    </div>
    <div class="form-group has-validation">
        <labe for="comorbidadeTrue">Comorbidade:</labe>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="comorbidadeTrue" name="comorbidade" value="True" required>
            <label for="comorbidadeTrue">Sim</label>
            <div class="invalid-feedback">
                Selecione uma das opções.
            </div>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="comorbidadeFalse" name="comorbidade" value="False"
                required>
            <label for="comorbidadeFalse">Não</label>
        </div>
    </div>

        <div>
            <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
            <a class="btn btn-danger" href="{{url_for('vacinadoroute.vacinado')}}">Cancelar</a>
        </div>
</form>
{% include "script.html"%}
{% endblock %}